.box {
  display: inline-block;
  width: 400px;
  height: 500px;
  border: 1px solid black;
}

.background {
  /* background-color: pink; */
  background: linear-gradient(45deg, black, white);
}

.background-image {
  background-image: url("./small_img.png");

  /* background-repeat: repeat; */
  background-repeat: no-repeat;
  /* background-repeat: repeat-y; */
  /* background-repeat: repeat-x; */

  /* background-position: center;
  background-position: center top;
  background-position: 20px;
  background-position: 50px 20px; */

  background-size: auto;
  background-size: 50px;
  /* background-size: 90px 20px; */
  background-size: contain;
  /* background-size: cover; */

  background-attachment: fixed;
}
